/.claude
*.bak
extracted-en-US/
translation-template/
temp/
translated-zh-CN/1.12603.1.0/
translated-zh-CN/1.13576.0.0/
translated-zh-CN/1.14271.0.0/
translated-zh-CN/1.15200.0.0/
translated-zh-CN/1.15962.1.0/
translated-zh-CN/1.17377.1.0/
translated-zh-CN/1.18286.2.0/
translated-zh-CN/1.19367.0.0/
translated-zh-CN/1.20186.0.0/
translated-zh-CN/1.21459.0.0/
translated-zh-CN/1.22209.0.0/
translated-zh-CN/1.24012.1.0/
translated-zh-CN/1.24012.9.0/
translated-zh-CN/1.25927.0.0/
translated-zh-CN/1.28929.0.0/
translated-zh-CN/1.30096.1.0/
translated-zh-CN/1.32352.1.0/
translated-zh-CN/1.34493.1.0/
translated-zh-CN/1.40609.0.0/
